-provide(:title, "Home")

#welcome.center.hero-unit
  %h1 Welcome!
  = link_to "Enter as a Member", '#', class: "btn btn-large btn-primary" 
  = link_to "Enter as a Guest", '#', class: "btn btn-large btn-primary" 
  %p
  %p If you are a NY Licensed Real Estate Agent or Broker, consider becoming our member to enhance your services to your customers.

  %p If you are a NYC Property Owner, consider becoming our member to receive service offers from professional and licensed contractors.

%p

