-provide(:title, "Home")
%h1 Home Page:
%p
%p Welcome to NYC Property Permit Infomation Website!
%p If you are a NY Licensed Real Estate Agent or Broker, consider becoming our member to enhance your services to your customers.

%p
  %h2 Menu...
  %ul
    %li
      %a{href:notices_about_path} About us
    %li
      %a{href:notices_contact_path} Contact us
    %li
      %a{href:notices_technology_path} Technology used
    %li
      %a{href:notices_terms_path} Terms and Conditions of use