%h1 Terms and Conditions of Website Use:
-provide(:title, "Terms")
%p
 
  You promise to NOT copy any of my work in this website as you own. Specifically...
  %ul
    %li Data presented to you in this website comes from a variety of sources NOT owned or controlled by Software Forest. You should not copy this data using data-mining or web-scalping methods. IF YOU VIOLATE THIS RESTRICTION YOU MAY BE CRIMINALLY LIABLE FOR PROPERTY THIEF!!!
    %li This website represents an orginal software work protected by copyright law (all-rights are reserved by us). You must not copy our website code for any commericial purpose. IF YOU VIOLATE THIS RESTRICTION WE HAVE A RIGHT TO DEMAND PAYMENT FROM YOU OF ALL INCOME YOU HAVE RECIEVED AS A RESULT OF USING OUR WEBSITE CODE WITHOUT OUR EXPRESSED WRITTEN APPROVAL!!!
